.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px;
    boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 250px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: center;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}