.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.game-name {
  display: flex;
  justify-self: center;
  height: 2rem;
  font-size: 24px;
  flex: 1;
  justify-content: center;
}

.login-content {
  display: flex;
  justify-content: center;
  flex: 1;
  align-self: center;
}

.logout {
  cursor: pointer;
}
